<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andawell.material.mapper.TCkWsyfMapper">
  <resultMap id="BaseResultMap" type="com.andawell.material.entity.TCkWsyf">
    <id column="BH" jdbcType="VARCHAR" property="bh" />
    <id column="JX" jdbcType="VARCHAR" property="jx" />
    <id column="JH" jdbcType="VARCHAR" property="jh" />
    <id column="XH" jdbcType="VARCHAR" property="xh" />
    <id column="ZL" jdbcType="VARCHAR" property="zl" />
    <id column="XZ" jdbcType="DECIMAL" property="xz" />
    <id column="DWID" jdbcType="VARCHAR" property="dwid" />
    <result column="JSDW" jdbcType="VARCHAR" property="jsdw" />
    <result column="SL" jdbcType="DECIMAL" property="sl" />
    <result column="YFRQ" jdbcType="TIMESTAMP" property="yfrq" />
    <result column="YFQX" jdbcType="DECIMAL" property="yfqx" />
    <result column="RQ" jdbcType="TIMESTAMP" property="rq" />
    <result column="RKBH" jdbcType="VARCHAR" property="rkbh" />
    <result column="DJ" jdbcType="DECIMAL" property="dj" />
    <result column="ZJ" jdbcType="DECIMAL" property="zj" />
    <result column="CCRQ" jdbcType="TIMESTAMP" property="ccrq" />
    <result column="BZ" jdbcType="VARCHAR" property="bz" />
    <result column="HL" jdbcType="DECIMAL" property="hl" />
  </resultMap>

  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.andawell.material.entity.response.TCkWsYfBO">
    <result column="jxmc" jdbcType="VARCHAR" property="jxmc" />
    <result column="jhmc" jdbcType="VARCHAR" property="jhmc" />

    <result column="jldwmc" jdbcType="VARCHAR" property="jldwmc" />
    <result column="zlmc" jdbcType="VARCHAR" property="zlmc" />
  </resultMap>

  <sql id="Base_Column_List">
    T_CK_WSYF.BH, T_CK_WSYF.JX, T_CK_WSYF.JH,
    T_CK_WSYF.XH, T_CK_WSYF.ZL, T_CK_WSYF.XZ, T_CK_WSYF.DWID, T_CK_WSYF.JSDW,
     T_CK_WSYF.SL, T_CK_WSYF.YFRQ, T_CK_WSYF.YFQX, T_CK_WSYF.RQ, T_CK_WSYF.RKBH,
     T_CK_WSYF.DJ, T_CK_WSYF.ZJ, T_CK_WSYF.CCRQ, T_CK_WSYF.BZ, T_CK_WSYF.HL
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_CK_WSYF
    where BH = #{bh,jdbcType=VARCHAR}
      and JX = #{jx,jdbcType=VARCHAR}
      and JH = #{jh,jdbcType=VARCHAR}
      and XH = #{xh,jdbcType=VARCHAR}
      and ZL = #{zl,jdbcType=VARCHAR}
      and XZ = #{xz,jdbcType=DECIMAL}
      and DWID = #{dwid,jdbcType=VARCHAR}
  </select>

  <sql id="queryCondition">
    <where>
      1 = 1
      <if test="query!=null">
        <if test="query.bh!=null and query.bh.length()>0">
          and T_CK_WSYF.BH = #{query.bh}
        </if>
        <if test="query.dwid!=null and query.dwid.length()>0">
          and T_CK_WSYF.DWID= #{query.dwid}
        </if>
        <if test="query.jx!=null and query.jx.length()>0">
          and T_CK_WSYF.JX= #{query.jx}
        </if>
        <if test="query.jh!=null and query.jh.length()>0">
          and T_CK_WSYF.JH= #{query.jh}
        </if>
        <if test="query.xh!=null and query.xh.length()>0">
          and T_CK_WSYF.XH= #{query.xh}
        </if>
      </if>
    </where>
  </sql>
    <select id="list" resultType="com.andawell.material.vo.TCkWsyfVO">

      SELECT  <include refid="Base_Column_List"/>,
      T_JH_JX.MC as jxmc,
      T_JH.MC as jhmc,
      T_JH_ZL.MC as zlmc,
      T_XT_JLDW.MC as jldwmc,
      T_CK_CK.HCLB,T_CK_CK.BBZ,T_CK_CK.DW
       FROM T_CK_WSYF
      left join T_CK_CK
      on T_CK_CK.Dwid =  T_CK_WSYF.Dwid
      and T_CK_CK.Jx= T_CK_WSYF.Jx
      and T_CK_CK.Jh = T_CK_WSYF.jh
      and T_CK_WSYF.Xh = T_CK_CK.xh
      and T_CK_WSYF.Zl = T_CK_CK.Zl and T_CK_CK.xz='0'
      LEFT JOIN T_JH_JX ON T_JH_JX.ID = T_CK_WSYF.JX
      LEFT JOIN T_JH ON T_JH.ID= T_CK_WSYF.JH AND T_JH.JX = T_CK_WSYF.JX
      LEFT JOIN T_JH_ZL ON T_JH_ZL.ID= T_CK_WSYF.ZL
      LEFT JOIN T_XT_JLDW ON T_XT_JLDW.ID = T_JH.DW
      <include refid="queryCondition"/>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
    delete from T_CK_WSYF
    where BH = #{bh,jdbcType=VARCHAR}
      and JX = #{jx,jdbcType=VARCHAR}
      and JH = #{jh,jdbcType=VARCHAR}
      and XH = #{xh,jdbcType=VARCHAR}
      and ZL = #{zl,jdbcType=VARCHAR}
      and XZ = #{xz,jdbcType=DECIMAL}
      and DWID = #{dwid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.andawell.material.entity.TCkWsyf">
    insert into T_CK_WSYF (BH, JX, JH, XH, 
      ZL, XZ, DWID, JSDW, 
      SL, YFRQ, YFQX, RQ, 
      RKBH, DJ, ZJ, CCRQ, 
      BZ, HL)
    values (#{bh,jdbcType=VARCHAR}, #{jx,jdbcType=VARCHAR}, #{jh,jdbcType=VARCHAR}, #{xh,jdbcType=VARCHAR}, 
      #{zl,jdbcType=VARCHAR}, #{xz,jdbcType=DECIMAL}, #{dwid,jdbcType=VARCHAR}, #{jsdw,jdbcType=VARCHAR}, 
      #{sl,jdbcType=DECIMAL}, #{yfrq,jdbcType=TIMESTAMP}, #{yfqx,jdbcType=DECIMAL}, #{rq,jdbcType=TIMESTAMP}, 
      #{rkbh,jdbcType=VARCHAR}, #{dj,jdbcType=DECIMAL}, #{zj,jdbcType=DECIMAL}, #{ccrq,jdbcType=TIMESTAMP}, 
      #{bz,jdbcType=VARCHAR}, #{hl,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.andawell.material.entity.TCkWsyf">
    insert into T_CK_WSYF
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bh != null">
        BH,
      </if>
      <if test="jx != null">
        JX,
      </if>
      <if test="jh != null">
        JH,
      </if>
      <if test="xh != null">
        XH,
      </if>
      <if test="zl != null">
        ZL,
      </if>
      <if test="xz != null">
        XZ,
      </if>
      <if test="dwid != null">
        DWID,
      </if>
      <if test="jsdw != null">
        JSDW,
      </if>
      <if test="sl != null">
        SL,
      </if>
      <if test="yfrq != null">
        YFRQ,
      </if>
      <if test="yfqx != null">
        YFQX,
      </if>
      <if test="rq != null">
        RQ,
      </if>
      <if test="rkbh != null">
        RKBH,
      </if>
      <if test="dj != null">
        DJ,
      </if>
      <if test="zj != null">
        ZJ,
      </if>
      <if test="ccrq != null">
        CCRQ,
      </if>
      <if test="bz != null">
        BZ,
      </if>
      <if test="hl != null">
        HL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bh != null">
        #{bh,jdbcType=VARCHAR},
      </if>
      <if test="jx != null">
        #{jx,jdbcType=VARCHAR},
      </if>
      <if test="jh != null">
        #{jh,jdbcType=VARCHAR},
      </if>
      <if test="xh != null">
        #{xh,jdbcType=VARCHAR},
      </if>
      <if test="zl != null">
        #{zl,jdbcType=VARCHAR},
      </if>
      <if test="xz != null">
        #{xz,jdbcType=DECIMAL},
      </if>
      <if test="dwid != null">
        #{dwid,jdbcType=VARCHAR},
      </if>
      <if test="jsdw != null">
        #{jsdw,jdbcType=VARCHAR},
      </if>
      <if test="sl != null">
        #{sl,jdbcType=DECIMAL},
      </if>
      <if test="yfrq != null">
        #{yfrq,jdbcType=TIMESTAMP},
      </if>
      <if test="yfqx != null">
        #{yfqx,jdbcType=DECIMAL},
      </if>
      <if test="rq != null">
        #{rq,jdbcType=TIMESTAMP},
      </if>
      <if test="rkbh != null">
        #{rkbh,jdbcType=VARCHAR},
      </if>
      <if test="dj != null">
        #{dj,jdbcType=DECIMAL},
      </if>
      <if test="zj != null">
        #{zj,jdbcType=DECIMAL},
      </if>
      <if test="ccrq != null">
        #{ccrq,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="hl != null">
        #{hl,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.andawell.material.entity.TCkWsyf">
    update T_CK_WSYF
    <set>
      <if test="jsdw != null">
        JSDW = #{jsdw,jdbcType=VARCHAR},
      </if>
      <if test="sl != null">
        SL = #{sl,jdbcType=DECIMAL},
      </if>
      <if test="yfrq != null">
        YFRQ = #{yfrq,jdbcType=TIMESTAMP},
      </if>
      <if test="yfqx != null">
        YFQX = #{yfqx,jdbcType=DECIMAL},
      </if>
      <if test="rq != null">
        RQ = #{rq,jdbcType=TIMESTAMP},
      </if>
      <if test="rkbh != null">
        RKBH = #{rkbh,jdbcType=VARCHAR},
      </if>
      <if test="dj != null">
        DJ = #{dj,jdbcType=DECIMAL},
      </if>
      <if test="zj != null">
        ZJ = #{zj,jdbcType=DECIMAL},
      </if>
      <if test="ccrq != null">
        CCRQ = #{ccrq,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null">
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="hl != null">
        HL = #{hl,jdbcType=DECIMAL},
      </if>
    </set>
    where BH = #{bh,jdbcType=VARCHAR}
      and JX = #{jx,jdbcType=VARCHAR}
      and JH = #{jh,jdbcType=VARCHAR}
      and XH = #{xh,jdbcType=VARCHAR}
      and ZL = #{zl,jdbcType=VARCHAR}
      and XZ = #{xz,jdbcType=DECIMAL}
      and DWID = #{dwid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.andawell.material.entity.TCkWsyf">
    update T_CK_WSYF
    set JSDW = #{jsdw,jdbcType=VARCHAR},
      SL = #{sl,jdbcType=DECIMAL},
      YFRQ = #{yfrq,jdbcType=TIMESTAMP},
      YFQX = #{yfqx,jdbcType=DECIMAL},
      RQ = #{rq,jdbcType=TIMESTAMP},
      RKBH = #{rkbh,jdbcType=VARCHAR},
      DJ = #{dj,jdbcType=DECIMAL},
      ZJ = #{zj,jdbcType=DECIMAL},
      CCRQ = #{ccrq,jdbcType=TIMESTAMP},
      BZ = #{bz,jdbcType=VARCHAR},
      HL = #{hl,jdbcType=DECIMAL}
    where BH = #{bh,jdbcType=VARCHAR}
      and JX = #{jx,jdbcType=VARCHAR}
      and JH = #{jh,jdbcType=VARCHAR}
      and XH = #{xh,jdbcType=VARCHAR}
      and ZL = #{zl,jdbcType=VARCHAR}
      and XZ = #{xz,jdbcType=DECIMAL}
      and DWID = #{dwid,jdbcType=VARCHAR}
  </update>
</mapper>