<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andawell.material.mapper.TDbLtsqqdTempMapper">
  <resultMap id="BaseResultMap" type="com.andawell.material.entity.TDbLtsqqdTemp">
    <result column="LTSQDH" jdbcType="VARCHAR" property="ltsqdh" />
    <result column="XC" jdbcType="DECIMAL" property="xc" />
    <result column="JH" jdbcType="VARCHAR" property="jh" />
    <result column="AZSL" jdbcType="DECIMAL" property="azsl" />
    <result column="QXSL" jdbcType="DECIMAL" property="qxsl" />
    <result column="KYSL" jdbcType="DECIMAL" property="kysl" />
    <result column="DXSL" jdbcType="DECIMAL" property="dxsl" />
    <result column="SXSL" jdbcType="DECIMAL" property="sxsl" />
    <result column="XQSL" jdbcType="DECIMAL" property="xqsl" />
    <result column="SQSL" jdbcType="DECIMAL" property="sqsl" />
    <result column="CJ" jdbcType="VARCHAR" property="cj" />
    <result column="FJH" jdbcType="VARCHAR" property="fjh" />
    <result column="GHYY" jdbcType="VARCHAR" property="ghyy" />
    <result column="DJ" jdbcType="DECIMAL" property="dj" />
    <result column="ZJ" jdbcType="DECIMAL" property="zj" />
    <result column="BZ" jdbcType="VARCHAR" property="bz" />
    <result column="DHBZ" jdbcType="VARCHAR" property="dhbz" />
    <result column="JX" jdbcType="VARCHAR" property="jx" />
    <result column="JLDW" jdbcType="VARCHAR" property="jldw" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    LTSQDH, XC, JH, AZSL, QXSL, KYSL, DXSL, SXSL, XQSL, SQSL, CJ, FJH, GHYY, DJ, ZJ, 
    BZ, DHBZ, JX, JLDW
  </sql>

  <insert id="insert" parameterType="com.andawell.material.entity.TDbLtsqqdTemp">
    insert into T_DB_LTSQQD_TEMP (LTSQDH, XC, JH, 
      AZSL, QXSL, KYSL, DXSL, 
      SXSL, XQSL, SQSL, CJ, 
      FJH, GHYY, DJ, ZJ, 
      BZ, DHBZ, JX, JLDW
      )
    values (#{ltsqdh,jdbcType=VARCHAR}, #{xc,jdbcType=DECIMAL}, #{jh,jdbcType=VARCHAR}, 
      #{azsl,jdbcType=DECIMAL}, #{qxsl,jdbcType=DECIMAL}, #{kysl,jdbcType=DECIMAL}, #{dxsl,jdbcType=DECIMAL}, 
      #{sxsl,jdbcType=DECIMAL}, #{xqsl,jdbcType=DECIMAL}, #{sqsl,jdbcType=DECIMAL}, #{cj,jdbcType=VARCHAR}, 
      #{fjh,jdbcType=VARCHAR}, #{ghyy,jdbcType=VARCHAR}, #{dj,jdbcType=DECIMAL}, #{zj,jdbcType=DECIMAL}, 
      #{bz,jdbcType=VARCHAR}, #{dhbz,jdbcType=VARCHAR}, #{jx,jdbcType=VARCHAR}, #{jldw,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.andawell.material.entity.TDbLtsqqdTemp">
    insert into T_DB_LTSQQD_TEMP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ltsqdh != null">
        LTSQDH,
      </if>
      <if test="xc != null">
        XC,
      </if>
      <if test="jh != null">
        JH,
      </if>
      <if test="azsl != null">
        AZSL,
      </if>
      <if test="qxsl != null">
        QXSL,
      </if>
      <if test="kysl != null">
        KYSL,
      </if>
      <if test="dxsl != null">
        DXSL,
      </if>
      <if test="sxsl != null">
        SXSL,
      </if>
      <if test="xqsl != null">
        XQSL,
      </if>
      <if test="sqsl != null">
        SQSL,
      </if>
      <if test="cj != null">
        CJ,
      </if>
      <if test="fjh != null">
        FJH,
      </if>
      <if test="ghyy != null">
        GHYY,
      </if>
      <if test="dj != null">
        DJ,
      </if>
      <if test="zj != null">
        ZJ,
      </if>
      <if test="bz != null">
        BZ,
      </if>
      <if test="dhbz != null">
        DHBZ,
      </if>
      <if test="jx != null">
        JX,
      </if>
      <if test="jldw != null">
        JLDW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ltsqdh != null">
        #{ltsqdh,jdbcType=VARCHAR},
      </if>
      <if test="xc != null">
        #{xc,jdbcType=DECIMAL},
      </if>
      <if test="jh != null">
        #{jh,jdbcType=VARCHAR},
      </if>
      <if test="azsl != null">
        #{azsl,jdbcType=DECIMAL},
      </if>
      <if test="qxsl != null">
        #{qxsl,jdbcType=DECIMAL},
      </if>
      <if test="kysl != null">
        #{kysl,jdbcType=DECIMAL},
      </if>
      <if test="dxsl != null">
        #{dxsl,jdbcType=DECIMAL},
      </if>
      <if test="sxsl != null">
        #{sxsl,jdbcType=DECIMAL},
      </if>
      <if test="xqsl != null">
        #{xqsl,jdbcType=DECIMAL},
      </if>
      <if test="sqsl != null">
        #{sqsl,jdbcType=DECIMAL},
      </if>
      <if test="cj != null">
        #{cj,jdbcType=VARCHAR},
      </if>
      <if test="fjh != null">
        #{fjh,jdbcType=VARCHAR},
      </if>
      <if test="ghyy != null">
        #{ghyy,jdbcType=VARCHAR},
      </if>
      <if test="dj != null">
        #{dj,jdbcType=DECIMAL},
      </if>
      <if test="zj != null">
        #{zj,jdbcType=DECIMAL},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="dhbz != null">
        #{dhbz,jdbcType=VARCHAR},
      </if>
      <if test="jx != null">
        #{jx,jdbcType=VARCHAR},
      </if>
      <if test="jldw != null">
        #{jldw,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective">
    update T_DB_LTSQQD_TEMP
    <set>
      <if test="jh != null">
        JH = #{jh,jdbcType=VARCHAR},
      </if>
      <if test="azsl != null">
        AZSL = #{azsl,jdbcType=DECIMAL},
      </if>
      <if test="qxsl != null">
        QXSL = #{qxsl,jdbcType=DECIMAL},
      </if>
      <if test="kysl != null">
        KYSL = #{kysl,jdbcType=DECIMAL},
      </if>
      <if test="dxsl != null">
        DXSL = #{dxsl,jdbcType=DECIMAL},
      </if>
      <if test="sxsl != null">
        SXSL = #{sxsl,jdbcType=DECIMAL},
      </if>
      <if test="xqsl != null">
        XQSL = #{xqsl,jdbcType=DECIMAL},
      </if>
      <if test="sqsl != null">
        SQSL = #{sqsl,jdbcType=DECIMAL},
      </if>
      <if test="cj != null">
        CJ = #{cj,jdbcType=VARCHAR},
      </if>
      <if test="fjh != null">
        FJH = #{fjh,jdbcType=VARCHAR},
      </if>
      <if test="ghyy != null">
        GHYY = #{ghyy,jdbcType=VARCHAR},
      </if>
      <if test="dj != null">
        DJ = #{dj,jdbcType=DECIMAL},
      </if>
      <if test="zj != null">
        ZJ = #{zj,jdbcType=DECIMAL},
      </if>
      <if test="bz != null">
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="dhbz != null">
        DHBZ = #{dhbz,jdbcType=VARCHAR},
      </if>
      <if test="jx != null">
        JX = #{jx,jdbcType=VARCHAR},
      </if>
      <if test="jldw != null">
        JLDW = #{jldw,jdbcType=VARCHAR},
      </if>
      <if test="xc != null">
        xc = #{xc,jdbcType=VARCHAR},
      </if>
    </set>
    where LTSQDH = #{ltsqdh,jdbcType=VARCHAR}
  </update>
    <delete id="deleteByPrimaryKey">

      delete from T_DB_LTSQQD_TEMP
      where LTSQDH = #{ltsqdh,jdbcType=VARCHAR}

    </delete>
    <delete id="deleteAll">
      delete from T_DB_LTSQQD_TEMP
    </delete>
    <select id="getList" resultType="com.andawell.material.entity.TDbLtsqqdTemp">
      select
      <include refid="Base_Column_List"/>
      from T_DB_LTSQQD_TEMP
      <include refid="tDbLtsqQuery"/>
    </select>
  <sql id="tDbLtsqQuery">
    <where>
      1=1
      <if test="query!=null">
        <if test="query.ltsqdh!=null">
          and T_DB_LTSQQD_TEMP.ltsqdh = #{query.ltsqdh}
        </if>
        <if test="query.ltsqdhs != null ">
          and T_DB_LTSQQD_TEMP.ltsqdh in
          <foreach collection="query.ltsqdhs" item="ltsqdh" index="index" open="(" close=")" separator=",">
            #{ltsqdh}
          </foreach>
        </if>
      </if>
    </where>
  </sql>

</mapper>