<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andawell.material.mapper.TDbSjsqqdMapper">
  <resultMap id="BaseResultMap" type="com.andawell.material.entity.TDbSjsqqd">
    <id column="SQDH" jdbcType="VARCHAR" property="sqdh" />
    <id column="JX" jdbcType="VARCHAR" property="jx" />
    <id column="JH" jdbcType="VARCHAR" property="jh" />
    <id column="ZL" jdbcType="VARCHAR" property="zl" />
    <result column="DBDH" jdbcType="VARCHAR" property="dbdh" />
    <result column="SL" jdbcType="DECIMAL" property="sl" />
    <result column="BZ" jdbcType="VARCHAR" property="bz" />
    <result column="SQYY" jdbcType="VARCHAR" property="sqyy" />
    <result column="JSDW" jdbcType="VARCHAR" property="jsdw" />
    <result column="FFDW" jdbcType="VARCHAR" property="ffdw" />
    <result column="DJ" jdbcType="DECIMAL" property="dj" />
    <result column="RQ" jdbcType="TIMESTAMP" property="rq" />
    <result column="XC" jdbcType="VARCHAR" property="xc" />
  </resultMap>


  <sql id="Base_Column_List">
    SQDH, JX, JH, ZL, DBDH, SL, BZ, SQYY, JSDW, FFDW, DJ, RQ, XC
  </sql>

  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_DB_SJSQQD
    where SQDH = #{sqdh,jdbcType=VARCHAR}
      and JX = #{jx,jdbcType=VARCHAR}
      and JH = #{jh,jdbcType=VARCHAR}
      and ZL = #{zl,jdbcType=VARCHAR}
  </select>
  <select id="selectByQuery" resultType="com.andawell.material.entity.TDbSjsqqd">
    select
    <include refid="Base_Column_List"/>
    from T_DB_SJSQQD
    <include refid="TDbSjsqqdQuery"/>
  </select>
  <sql id="TDbSjsqqdQuery">
    <where>
      1=1
      <if test="query!=null">
        <if test="query.sqdh!=null">
          and T_DB_SJSQQD.sqdh = '${query.sqdh}'
        </if>
      </if>
    </where>
  </sql>
  <select id="getKC" parameterType="map" resultType="java.lang.Integer">
     select ck.zsl from
   (select t_ck_ck.dwid as dwid,SUM(t_ck_ck.SL)as zsl from t_ck_ck
   where jx =#{jx,jdbcType=VARCHAR} and jh =#{jh,jdbcType=VARCHAR} and xz = '0' and zl in ('11','12') GROUP BY t_ck_ck.dwid)ck
   left join (
   select v_dw.id ,v_dw.mc from v_dw where id ='10'
   )dw on dw.id = ck.dwid
  </select>
    <select id="list" resultType="com.andawell.material.entity.TDbSjsqqd">
        select
      <include refid="Base_Column_List" />
      from T_DB_SJSQQD
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
    delete from T_DB_SJSQQD
    where SQDH = #{sqdh,jdbcType=VARCHAR}
      and JX = #{jx,jdbcType=VARCHAR}
      and JH = #{jh,jdbcType=VARCHAR}
      and ZL = #{zl,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.andawell.material.entity.TDbSjsqqd">
    insert into T_DB_SJSQQD (SQDH, JX, JH, 
      ZL, DBDH, SL, BZ, 
      SQYY, JSDW, FFDW, DJ, 
      RQ, XC)
    values (#{sqdh,jdbcType=VARCHAR}, #{jx,jdbcType=VARCHAR}, #{jh,jdbcType=VARCHAR}, 
      #{zl,jdbcType=VARCHAR}, #{dbdh,jdbcType=VARCHAR}, #{sl,jdbcType=DECIMAL}, #{bz,jdbcType=VARCHAR}, 
      #{sqyy,jdbcType=VARCHAR}, #{jsdw,jdbcType=VARCHAR}, #{ffdw,jdbcType=VARCHAR}, #{dj,jdbcType=DECIMAL}, 
      #{rq,jdbcType=TIMESTAMP}, #{xc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.andawell.material.entity.TDbSjsqqd">
    insert into T_DB_SJSQQD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sqdh != null">
        SQDH,
      </if>
      <if test="jx != null">
        JX,
      </if>
      <if test="jh != null">
        JH,
      </if>
      <if test="zl != null">
        ZL,
      </if>
      <if test="dbdh != null">
        DBDH,
      </if>
      <if test="sl != null">
        SL,
      </if>
      <if test="bz != null">
        BZ,
      </if>
      <if test="sqyy != null">
        SQYY,
      </if>
      <if test="jsdw != null">
        JSDW,
      </if>
      <if test="ffdw != null">
        FFDW,
      </if>
      <if test="dj != null">
        DJ,
      </if>
      <if test="rq != null">
        RQ,
      </if>
      <if test="xc != null">
        XC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sqdh != null">
        #{sqdh,jdbcType=VARCHAR},
      </if>
      <if test="jx != null">
        #{jx,jdbcType=VARCHAR},
      </if>
      <if test="jh != null">
        #{jh,jdbcType=VARCHAR},
      </if>
      <if test="zl != null">
        #{zl,jdbcType=VARCHAR},
      </if>
      <if test="dbdh != null">
        #{dbdh,jdbcType=VARCHAR},
      </if>
      <if test="sl != null">
        #{sl,jdbcType=DECIMAL},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sqyy != null">
        #{sqyy,jdbcType=VARCHAR},
      </if>
      <if test="jsdw != null">
        #{jsdw,jdbcType=VARCHAR},
      </if>
      <if test="ffdw != null">
        #{ffdw,jdbcType=VARCHAR},
      </if>
      <if test="dj != null">
        #{dj,jdbcType=DECIMAL},
      </if>
      <if test="rq != null">
        #{rq,jdbcType=TIMESTAMP},
      </if>
      <if test="xc != null">
        #{xc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>



  <update id="updateByPrimaryKeySelective" parameterType="com.andawell.material.entity.TDbSjsqqd">
    update T_DB_SJSQQD
    <set>
      <if test="dbdh != null">
        DBDH = #{dbdh,jdbcType=VARCHAR},
      </if>
      <if test="sl != null">
        SL = #{sl,jdbcType=DECIMAL},
      </if>
      <if test="bz != null">
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sqyy != null">
        SQYY = #{sqyy,jdbcType=VARCHAR},
      </if>
      <if test="jsdw != null">
        JSDW = #{jsdw,jdbcType=VARCHAR},
      </if>
      <if test="ffdw != null">
        FFDW = #{ffdw,jdbcType=VARCHAR},
      </if>
      <if test="dj != null">
        DJ = #{dj,jdbcType=DECIMAL},
      </if>
      <if test="rq != null">
        RQ = #{rq,jdbcType=TIMESTAMP},
      </if>
      <if test="xc != null">
        XC = #{xc,jdbcType=VARCHAR},
      </if>
    </set>
    where SQDH = #{sqdh,jdbcType=VARCHAR}
      and JX = #{jx,jdbcType=VARCHAR}
      and JH = #{jh,jdbcType=VARCHAR}
      and ZL = #{zl,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.andawell.material.entity.TDbSjsqqd">
    update T_DB_SJSQQD
    set DBDH = #{dbdh,jdbcType=VARCHAR},
      SL = #{sl,jdbcType=DECIMAL},
      BZ = #{bz,jdbcType=VARCHAR},
      SQYY = #{sqyy,jdbcType=VARCHAR},
      JSDW = #{jsdw,jdbcType=VARCHAR},
      FFDW = #{ffdw,jdbcType=VARCHAR},
      DJ = #{dj,jdbcType=DECIMAL},
      RQ = #{rq,jdbcType=TIMESTAMP},
      XC = #{xc,jdbcType=VARCHAR}
    where SQDH = #{sqdh,jdbcType=VARCHAR}
      and JX = #{jx,jdbcType=VARCHAR}
      and JH = #{jh,jdbcType=VARCHAR}
      and ZL = #{zl,jdbcType=VARCHAR}
  </update>
</mapper>