<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andawell.material.mapper.TJhJhMapper">
  <resultMap id="BaseResultMap" type="com.andawell.material.entity.TJhJh">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ZJH" jdbcType="VARCHAR" property="zjh" />
    <result column="MC" jdbcType="VARCHAR" property="mc" />
    <result column="MCE" jdbcType="VARCHAR" property="mce" />
    <result column="DW" jdbcType="VARCHAR" property="dw" />
    <result column="ZYLX" jdbcType="VARCHAR" property="zylx" />
    <result column="ZYX" jdbcType="VARCHAR" property="zyx" />
    <result column="SWZ" jdbcType="VARCHAR" property="swz" />
    <result column="BPZ" jdbcType="VARCHAR" property="bpz" />
    <result column="GLFS" jdbcType="VARCHAR" property="glfs" />
    <result column="JZBZ" jdbcType="VARCHAR" property="jzbz" />
    <result column="WXP" jdbcType="VARCHAR" property="wxp" />
    <result column="SYFZ" jdbcType="VARCHAR" property="syfz" />
    <result column="CCFZ" jdbcType="VARCHAR" property="ccfz" />
    <result column="YFJE" jdbcType="DECIMAL" property="yfje" />
    <result column="DJAZS" jdbcType="DECIMAL" property="djazs" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.andawell.material.entity.TJhJh">
    <result column="PSWZ" jdbcType="BLOB" property="pswz" />
    <result column="PBPZ" jdbcType="BLOB" property="pbpz" />
  </resultMap>
  <resultMap id="ResultMapWithJhdwMc" type="com.andawell.material.dto.TJhJhDTO">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ZJH" jdbcType="VARCHAR" property="zjh" />
    <result column="MC" jdbcType="VARCHAR" property="mc" />
    <result column="MCE" jdbcType="VARCHAR" property="mce" />
    <result column="DW" jdbcType="VARCHAR" property="dw" />
    <result column="ZYLX" jdbcType="VARCHAR" property="zylx" />
    <result column="ZYX" jdbcType="VARCHAR" property="zyx" />
    <result column="SWZ" jdbcType="VARCHAR" property="swz" />
    <result column="BPZ" jdbcType="VARCHAR" property="bpz" />
    <result column="GLFS" jdbcType="VARCHAR" property="glfs" />
    <result column="JZBZ" jdbcType="VARCHAR" property="jzbz" />
    <result column="WXP" jdbcType="VARCHAR" property="wxp" />
    <result column="SYFZ" jdbcType="VARCHAR" property="syfz" />
    <result column="CCFZ" jdbcType="VARCHAR" property="ccfz" />
    <result column="YFJE" jdbcType="DECIMAL" property="yfje" />
    <result column="DJAZS" jdbcType="DECIMAL" property="djazs" />
    <result column="JhDwMc" jdbcType="VARCHAR" property="jhDwMc" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ZJH, MC, MCE, DW, ZYLX, ZYX, SWZ, BPZ, GLFS, JZBZ, WXP, SYFZ, CCFZ, YFJE, DJAZS
  </sql>
  <sql id="Blob_Column_List">
    PSWZ, PBPZ
  </sql>

  <sql id="Jhdw_Column_List">
       T_JH_JH.ZJH AS ZJH, T_JH_JH.MCE AS ZJH, T_JH_JH.DW AS DW, T_JH_JH.ZYLX AS ZYLX, T_JH_JH.ZYX AS ZYX,
       T_JH_JH.SWZ AS SWZ, T_JH_JH.BPZ AS BPZ, T_JH_JH.GLFS AS GLFS, T_JH_JH.JZBZ AS JZBZ,
       T_JH_JH.WXP AS WXP, T_JH_JH.SYFZ AS SYFZ, T_JH_JH.CCFZ AS CCFZ, T_JH_JH.YFJE AS YFJE, T_JH_JH.DJAZS AS DJAZS
       ,T_JH_JH.ID AS ID, T_JH_JH.MC AS MC,T_XT_JLDW.MC AS JhDwMc
  </sql>
  <delete id="deleteSqlLiteList">
    truncate table T_JH_JH
  </delete>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_JH_JH
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_JH_JH
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <select id="getSqlLiteList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from T_JH_JH
  </select>


  <insert id="insert" parameterType="com.andawell.material.entity.TJhJh">
    insert into T_JH_JH (ID, ZJH, MC, 
      MCE, DW, ZYLX, ZYX, 
      SWZ, BPZ, GLFS, JZBZ, 
      WXP, SYFZ, CCFZ, YFJE, 
      DJAZS, PSWZ, PBPZ)
    values (#{id,jdbcType=VARCHAR}, #{zjh,jdbcType=VARCHAR}, #{mc,jdbcType=VARCHAR}, 
      #{mce,jdbcType=VARCHAR}, #{dw,jdbcType=VARCHAR}, #{zylx,jdbcType=VARCHAR}, #{zyx,jdbcType=VARCHAR}, 
      #{swz,jdbcType=VARCHAR}, #{bpz,jdbcType=VARCHAR}, #{glfs,jdbcType=VARCHAR}, #{jzbz,jdbcType=VARCHAR}, 
      #{wxp,jdbcType=VARCHAR}, #{syfz,jdbcType=VARCHAR}, #{ccfz,jdbcType=VARCHAR}, #{yfje,jdbcType=DECIMAL}, 
      #{djazs,jdbcType=DECIMAL}, #{pswz,jdbcType=BLOB}, #{pbpz,jdbcType=BLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.andawell.material.entity.TJhJh">
    insert into T_JH_JH
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="zjh != null">
        ZJH,
      </if>
      <if test="mc != null">
        MC,
      </if>
      <if test="mce != null">
        MCE,
      </if>
      <if test="dw != null">
        DW,
      </if>
      <if test="zylx != null">
        ZYLX,
      </if>
      <if test="zyx != null">
        ZYX,
      </if>
      <if test="swz != null">
        SWZ,
      </if>
      <if test="bpz != null">
        BPZ,
      </if>
      <if test="glfs != null">
        GLFS,
      </if>
      <if test="jzbz != null">
        JZBZ,
      </if>
      <if test="wxp != null">
        WXP,
      </if>
      <if test="syfz != null">
        SYFZ,
      </if>
      <if test="ccfz != null">
        CCFZ,
      </if>
      <if test="yfje != null">
        YFJE,
      </if>
      <if test="djazs != null">
        DJAZS,
      </if>
      <if test="pswz != null">
        PSWZ,
      </if>
      <if test="pbpz != null">
        PBPZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="zjh != null">
        #{zjh,jdbcType=VARCHAR},
      </if>
      <if test="mc != null">
        #{mc,jdbcType=VARCHAR},
      </if>
      <if test="mce != null">
        #{mce,jdbcType=VARCHAR},
      </if>
      <if test="dw != null">
        #{dw,jdbcType=VARCHAR},
      </if>
      <if test="zylx != null">
        #{zylx,jdbcType=VARCHAR},
      </if>
      <if test="zyx != null">
        #{zyx,jdbcType=VARCHAR},
      </if>
      <if test="swz != null">
        #{swz,jdbcType=VARCHAR},
      </if>
      <if test="bpz != null">
        #{bpz,jdbcType=VARCHAR},
      </if>
      <if test="glfs != null">
        #{glfs,jdbcType=VARCHAR},
      </if>
      <if test="jzbz != null">
        #{jzbz,jdbcType=VARCHAR},
      </if>
      <if test="wxp != null">
        #{wxp,jdbcType=VARCHAR},
      </if>
      <if test="syfz != null">
        #{syfz,jdbcType=VARCHAR},
      </if>
      <if test="ccfz != null">
        #{ccfz,jdbcType=VARCHAR},
      </if>
      <if test="yfje != null">
        #{yfje,jdbcType=DECIMAL},
      </if>
      <if test="djazs != null">
        #{djazs,jdbcType=DECIMAL},
      </if>
      <if test="pswz != null">
        #{pswz,jdbcType=BLOB},
      </if>
      <if test="pbpz != null">
        #{pbpz,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.andawell.material.entity.TJhJh">
    update T_JH_JH
    <set>
      <if test="zjh != null">
        ZJH = #{zjh,jdbcType=VARCHAR},
      </if>
      <if test="mc != null">
        MC = #{mc,jdbcType=VARCHAR},
      </if>
      <if test="mce != null">
        MCE = #{mce,jdbcType=VARCHAR},
      </if>
      <if test="dw != null">
        DW = #{dw,jdbcType=VARCHAR},
      </if>
      <if test="zylx != null">
        ZYLX = #{zylx,jdbcType=VARCHAR},
      </if>
      <if test="zyx != null">
        ZYX = #{zyx,jdbcType=VARCHAR},
      </if>
      <if test="swz != null">
        SWZ = #{swz,jdbcType=VARCHAR},
      </if>
      <if test="bpz != null">
        BPZ = #{bpz,jdbcType=VARCHAR},
      </if>
      <if test="glfs != null">
        GLFS = #{glfs,jdbcType=VARCHAR},
      </if>
      <if test="jzbz != null">
        JZBZ = #{jzbz,jdbcType=VARCHAR},
      </if>
      <if test="wxp != null">
        WXP = #{wxp,jdbcType=VARCHAR},
      </if>
      <if test="syfz != null">
        SYFZ = #{syfz,jdbcType=VARCHAR},
      </if>
      <if test="ccfz != null">
        CCFZ = #{ccfz,jdbcType=VARCHAR},
      </if>
      <if test="yfje != null">
        YFJE = #{yfje,jdbcType=DECIMAL},
      </if>
      <if test="djazs != null">
        DJAZS = #{djazs,jdbcType=DECIMAL},
      </if>
      <if test="pswz != null">
        PSWZ = #{pswz,jdbcType=BLOB},
      </if>
      <if test="pbpz != null">
        PBPZ = #{pbpz,jdbcType=BLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.andawell.material.entity.TJhJh">
    update T_JH_JH
    set ZJH = #{zjh,jdbcType=VARCHAR},
      MC = #{mc,jdbcType=VARCHAR},
      MCE = #{mce,jdbcType=VARCHAR},
      DW = #{dw,jdbcType=VARCHAR},
      ZYLX = #{zylx,jdbcType=VARCHAR},
      ZYX = #{zyx,jdbcType=VARCHAR},
      SWZ = #{swz,jdbcType=VARCHAR},
      BPZ = #{bpz,jdbcType=VARCHAR},
      GLFS = #{glfs,jdbcType=VARCHAR},
      JZBZ = #{jzbz,jdbcType=VARCHAR},
      WXP = #{wxp,jdbcType=VARCHAR},
      SYFZ = #{syfz,jdbcType=VARCHAR},
      CCFZ = #{ccfz,jdbcType=VARCHAR},
      YFJE = #{yfje,jdbcType=DECIMAL},
      DJAZS = #{djazs,jdbcType=DECIMAL},
      PSWZ = #{pswz,jdbcType=BLOB},
      PBPZ = #{pbpz,jdbcType=BLOB}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.andawell.material.entity.TJhJh">
    update T_JH_JH
    set ZJH = #{zjh,jdbcType=VARCHAR},
      MC = #{mc,jdbcType=VARCHAR},
      MCE = #{mce,jdbcType=VARCHAR},
      DW = #{dw,jdbcType=VARCHAR},
      ZYLX = #{zylx,jdbcType=VARCHAR},
      ZYX = #{zyx,jdbcType=VARCHAR},
      SWZ = #{swz,jdbcType=VARCHAR},
      BPZ = #{bpz,jdbcType=VARCHAR},
      GLFS = #{glfs,jdbcType=VARCHAR},
      JZBZ = #{jzbz,jdbcType=VARCHAR},
      WXP = #{wxp,jdbcType=VARCHAR},
      SYFZ = #{syfz,jdbcType=VARCHAR},
      CCFZ = #{ccfz,jdbcType=VARCHAR},
      YFJE = #{yfje,jdbcType=DECIMAL},
      DJAZS = #{djazs,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="list" resultMap="ResultMapWithJhdwMc">
     select
    <include refid="Jhdw_Column_List" />
    from T_JH_JH left join T_XT_JLDW
    on T_JH_JH.DW = T_XT_JLDW.ID
     <include refid="queryCondition"/>
  </select>

  <sql id="queryCondition">
    <where>
      1=1
      <if test="query!=null">
        <if test="query.id!=null and query.id.length()>0">
          and T_JH_JH.ID like '%${query.id}%'
        </if>
        <if test="query.pageSize!=null">
          and rownum &lt;= #{query.pageSize}
        </if>
      </if>
    </where>
  </sql>
</mapper>