<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andawell.material.mapper.TTzzWzMapper">
  <resultMap id="BaseResultMap" type="com.andawell.material.entity.TTzzWz">
    <id column="JH" jdbcType="VARCHAR" property="jh" />
    <result column="MC" jdbcType="VARCHAR" property="mc" />
    <result column="DW" jdbcType="VARCHAR" property="dw" />
    <result column="LB" jdbcType="VARCHAR" property="lb" />
  </resultMap>

  <sql id="queryCondition">
    <where>
      1=1
      <if test="query!=null">
        <if test="query.jh!=null and query.jh.length()>0">
          and JH= #{query.jh}
        </if>
        <if test="query.mc!=null and query.mc.length()>0">
          and MC = #{query.mc}
        </if>
        <if test="query.dw!=null and query.dw.length()>0">
          and DW= #{query.dw}
        </if>
        <if test="query.lb!=null and query.dw.length()>0">
          and LB = #{query.lb}
        </if>
      </if>
    </where>
  </sql>

  <select id="list" resultType="com.andawell.material.vo.TTzzWzVO">
    select  JH, T_TZZ_WZ.MC, DW, LB,T_XT_JLDW.MC AS dwmc,T_TZZ_WZLB.MC AS lbmc
    from T_TZZ_WZ
    left join T_XT_JLDW on T_XT_JLDW.ID =  T_TZZ_WZ.DW
    left join T_TZZ_WZLB on T_TZZ_WZLB.ID = T_TZZ_WZ.LB
    <include refid="queryCondition"/>
  </select>

  <sql id="Base_Column_List">
    JH, MC, DW, LB
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_TZZ_WZ
    where JH = #{jh,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_TZZ_WZ
    where JH = #{jh,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.andawell.material.entity.TTzzWz">
    insert into T_TZZ_WZ (JH, MC, DW, LB
      )
    values (#{jh,jdbcType=VARCHAR}, #{mc,jdbcType=VARCHAR}, #{dw,jdbcType=VARCHAR}, #{lb,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.andawell.material.entity.TTzzWz">
    insert into T_TZZ_WZ
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jh != null">
        JH,
      </if>
      <if test="mc != null">
        MC,
      </if>
      <if test="dw != null">
        DW,
      </if>
      <if test="lb != null">
        LB,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jh != null">
        #{jh,jdbcType=VARCHAR},
      </if>
      <if test="mc != null">
        #{mc,jdbcType=VARCHAR},
      </if>
      <if test="dw != null">
        #{dw,jdbcType=VARCHAR},
      </if>
      <if test="lb != null">
        #{lb,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.andawell.material.entity.TTzzWz">
    update T_TZZ_WZ
    <set>
      <if test="mc != null">
        MC = #{mc,jdbcType=VARCHAR},
      </if>
      <if test="dw != null">
        DW = #{dw,jdbcType=VARCHAR},
      </if>
      <if test="lb != null">
        LB = #{lb,jdbcType=VARCHAR},
      </if>
    </set>
    where JH = #{jh,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.andawell.material.entity.TTzzWz">
    update T_TZZ_WZ
    set MC = #{mc,jdbcType=VARCHAR},
      DW = #{dw,jdbcType=VARCHAR},
      LB = #{lb,jdbcType=VARCHAR}
    where JH = #{jh,jdbcType=VARCHAR}
  </update>

</mapper>