<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andawell.material.mapper.TXtHclbMapper">
    <resultMap id="BaseResultMap" type="com.andawell.material.entity.TXtHclb">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="MC" jdbcType="VARCHAR" property="mc"/>
        <result column="JM" jdbcType="VARCHAR" property="jm"/>
    </resultMap>

    <sql id="Base_Column_List">
    ID, MC, JM
    </sql>
    <sql id="queryCondition">
        <where>
            <!-- 无战备器材 -->
            1=1 and JM !='ZC'
            <if test="query!=null">
                <if test="query.DWID!=null and query.DWID.length()>0">
                    and sa.DWID = #{query.id}
                </if>
            </if>
        </where>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_XT_HCLB
        where ID = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_XT_HCLB
    where ID = #{id,jdbcType=VARCHAR}
  </delete>

    <insert id="insert" parameterType="com.andawell.material.entity.TXtHclb">
    insert into T_XT_HCLB (ID, MC, JM)
    values (#{id,jdbcType=VARCHAR}, #{mc,jdbcType=VARCHAR}, #{jm,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.andawell.material.entity.TXtHclb">
        insert into T_XT_HCLB
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="mc != null">
                MC,
            </if>
            <if test="jm != null">
                JM,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="mc != null">
                #{mc,jdbcType=VARCHAR},
            </if>
            <if test="jm != null">
                #{jm,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.andawell.material.entity.TXtHclb">
        update T_XT_HCLB
        <set>
            <if test="mc != null">
                MC = #{mc,jdbcType=VARCHAR},
            </if>
            <if test="jm != null">
                JM = #{jm,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.andawell.material.entity.TXtHclb">
    update T_XT_HCLB
    set MC = #{mc,jdbcType=VARCHAR},
      JM = #{jm,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

    <select id="list" resultType="com.andawell.material.entity.TXtHclb">
        select
        <include refid="Base_Column_List"/>
        from T_XT_HCLB
        <include refid="queryCondition"/>
    </select>
</mapper>