<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andawell.material.mapper.TZbBzMapper">
  <resultMap id="BaseResultMap" type="com.andawell.material.entity.TZbBz">
    <id column="DWID" jdbcType="VARCHAR" property="dwid" />
    <id column="JX" jdbcType="VARCHAR" property="jx" />
    <id column="JH" jdbcType="VARCHAR" property="jh" />
    <result column="SL" jdbcType="DECIMAL" property="sl" />
  </resultMap>

  <sql id="Base_Column_List">
    DWID, JX, JH, SL
  </sql>

  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_ZB_BZ
    where DWID = #{dwid,jdbcType=VARCHAR}
      and JX = #{jx,jdbcType=VARCHAR}
      and JH = #{jh,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from T_ZB_BZ
    where DWID = #{dwid,jdbcType=VARCHAR}
      and JX = #{jx,jdbcType=VARCHAR}
      and JH = #{jh,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.andawell.material.entity.TZbBz">
    insert into T_ZB_BZ (DWID, JX, JH, 
      SL)
    values (#{dwid,jdbcType=VARCHAR}, #{jx,jdbcType=VARCHAR}, #{jh,jdbcType=VARCHAR}, 
      #{sl,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.andawell.material.entity.TZbBz">
    insert into T_ZB_BZ
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dwid != null">
        DWID,
      </if>
      <if test="jx != null">
        JX,
      </if>
      <if test="jh != null">
        JH,
      </if>
      <if test="sl != null">
        SL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dwid != null">
        #{dwid,jdbcType=VARCHAR},
      </if>
      <if test="jx != null">
        #{jx,jdbcType=VARCHAR},
      </if>
      <if test="jh != null">
        #{jh,jdbcType=VARCHAR},
      </if>
      <if test="sl != null">
        #{sl,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.andawell.material.entity.TZbBz">
    update T_ZB_BZ
    <set>
      <if test="sl != null">
        SL = #{sl,jdbcType=DECIMAL},
      </if>
    </set>
    where DWID = #{dwid,jdbcType=VARCHAR}
      and JX = #{jx,jdbcType=VARCHAR}
      and JH = #{jh,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.andawell.material.entity.TZbBz">
    update T_ZB_BZ
    set SL = #{sl,jdbcType=DECIMAL}
    where DWID = #{dwid,jdbcType=VARCHAR}
      and JX = #{jx,jdbcType=VARCHAR}
      and JH = #{jh,jdbcType=VARCHAR}
  </update>
</mapper>