<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andawell.material.mapper.TZyBzmxMapper">
  <resultMap id="BaseResultMap" type="com.andawell.material.entity.TZyBzmx">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <id column="JH" jdbcType="OTHER" property="jh" />
    <result column="ZL" jdbcType="DECIMAL" property="zl" />
    <result column="SL" jdbcType="DECIMAL" property="sl" />
    <result column="BZ" jdbcType="OTHER" property="bz" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, JH, ZL, SL, BZ
  </sql>

  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_ZY_BZMX
    where ID = #{id,jdbcType=DECIMAL}
      and JH = #{jh,jdbcType=OTHER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from T_ZY_BZMX
    where ID = #{id,jdbcType=DECIMAL}
      and JH = #{jh,jdbcType=OTHER}
  </delete>

  <insert id="insert" parameterType="com.andawell.material.entity.TZyBzmx">
    insert into T_ZY_BZMX (ID, JH, ZL, SL, 
      BZ)
    values (#{id,jdbcType=DECIMAL}, #{jh,jdbcType=OTHER}, #{zl,jdbcType=DECIMAL}, #{sl,jdbcType=DECIMAL}, 
      #{bz,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="com.andawell.material.entity.TZyBzmx">
    insert into T_ZY_BZMX
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="jh != null">
        JH,
      </if>
      <if test="zl != null">
        ZL,
      </if>
      <if test="sl != null">
        SL,
      </if>
      <if test="bz != null">
        BZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="jh != null">
        #{jh,jdbcType=OTHER},
      </if>
      <if test="zl != null">
        #{zl,jdbcType=DECIMAL},
      </if>
      <if test="sl != null">
        #{sl,jdbcType=DECIMAL},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=OTHER},
      </if>
    </trim>
  </insert>



  <update id="updateByPrimaryKeySelective" parameterType="com.andawell.material.entity.TZyBzmx">
    update T_ZY_BZMX
    <set>
      <if test="zl != null">
        ZL = #{zl,jdbcType=DECIMAL},
      </if>
      <if test="sl != null">
        SL = #{sl,jdbcType=DECIMAL},
      </if>
      <if test="bz != null">
        BZ = #{bz,jdbcType=OTHER},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
      and JH = #{jh,jdbcType=OTHER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.andawell.material.entity.TZyBzmx">
    update T_ZY_BZMX
    set ZL = #{zl,jdbcType=DECIMAL},
      SL = #{sl,jdbcType=DECIMAL},
      BZ = #{bz,jdbcType=OTHER}
    where ID = #{id,jdbcType=DECIMAL}
      and JH = #{jh,jdbcType=OTHER}
  </update>
</mapper>