<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andawell.upms.mapper.SysMenuInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="menuInfoResultMap" type="com.andawell.upms.entity.SysMenuInfo">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="permission" property="permission" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="door_code" property="sysDoor" jdbcType="VARCHAR"/>
        <result column="CREATE_BY" property="creator" jdbcType="VARCHAR"/>
        <result column="UPDATE_BY" property="modifier" jdbcType="VARCHAR"/>
        <result column="DELETE_BY" property="deleter" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="DELETE_TIME" property="deleteTime" jdbcType="TIMESTAMP"/>
        <result column="TITLE" property="title" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="queryCondition">
        <where>
            del_flag='1'
            <if test="query!=null">
                <if test="query.id!=null and query.id.length()>0">
                    and id = #{query.id}
                </if>
                <if test="query.name!=null and query.name.length()>0">
                    and name like '%${query.name}%'
                </if>
                <if test="query.permission!=null and query.permission.length()>0">
                    and permission = #{query.permission}
                </if>
                <if test="query.path!=null and query.path.length()>0">
                    and path like '%${query.path}%'
                </if>
                <if test="query.type!=null and query.type.length()>0">
                    and type = #{query.type}
                </if>
                <if test="query.sysDoor!=null">
                    and door_code = #{query.sysDoor}
                </if>
            </if>
        </where>
    </sql>

    <select id="list" resultMap="menuInfoResultMap">
        select * from SYS_MENU where del_flag='1'
        <include refid="queryCondition"/>
        order by sort asc
    </select>

    <insert id="insert" parameterType="com.andawell.upms.entity.SysMenuInfo">
        insert into SYS_MENU (
        name,permission,pid,icon,path,locale,sort,door_code,type,create_time,create_by,del_flag) values (
        #{name,jdbcType=VARCHAR},
        #{permission,jdbcType=VARCHAR},
        #{pid,jdbcType=VARCHAR},
        #{icon,jdbcType=VARCHAR},
        #{path,jdbcType=VARCHAR},
        #{locale,jdbcType=VARCHAR},
        #{sort,jdbcType=INTEGER},
        #{sysDoor,jdbcType=VARCHAR},
        #{type,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{creator,jdbcType=VARCHAR},
        '1'
        )
    </insert>

    <update id="update" parameterType="com.andawell.upms.entity.SysMenuInfo">
        update SYS_MENU set
        name=#{name,jdbcType=VARCHAR},
        permission=#{permission,jdbcType=VARCHAR},
        icon=#{icon,jdbcType=VARCHAR},
        pid=#{pid,jdbcType=VARCHAR},
        path=#{path,jdbcType=VARCHAR},
        locale=#{locale,jdbcType=VARCHAR},
        door_code=#{sysDoor,jdbcType=VARCHAR},
        sort=#{sort,jdbcType=INTEGER},
        update_time=#{updateTime,jdbcType=TIMESTAMP},
        type=#{type,jdbcType=VARCHAR}
        where id=#{id} and del_flag='1'
    </update>

    <update id="delete" parameterType="com.andawell.upms.entity.SysMenuInfo">
        update SYS_MENU set del_flag='0'
        where id in ( select a.id from SYS_MENU a start with a.id = #{id} connect by prior a.id = a.parent_id)
        and del_flag='1'
    </update>


    <select id="listMenusByRoleIds" resultMap="menuInfoResultMap">
        SELECT
          sm.*,case when tqj.qx ='1' then '1' else '0' end as status
        FROM
          SYS_MENU sm
        LEFT JOIN (select * from t_qx_jsqx where js = #{roleId} ) tqj ON  tqj.zy = sm.id
        WHERE
          sm.del_flag = '1'
        order by sm.sort asc
    </select>


</mapper>
