<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andawell.upms.mapper.TXtBzlbMapper">
  <resultMap id="BaseResultMap" type="com.andawell.upms.entity.TXtBzlb">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="MC" jdbcType="VARCHAR" property="mc" />
    <result column="JM" jdbcType="VARCHAR" property="jm" />
    <result column="HL" jdbcType="DECIMAL" property="hl" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, MC, JM, HL
  </sql>

  <sql id="queryCondition">
    <where>
      1=1
      <if test="query!=null">
        <if test="query.id!=null and query.id.length()>0">
          and ID= #{query.dwid}
        </if>
        <if test="query.mc!=null and query.mc.length()>0">
          and MC = #{query.mc}
        </if>
        <if test="query.jm!=null and query.jm.length()>0">
          and JM= #{query.jm}
        </if>
        <if test="query.hl!=null and query.hl.length()>0">
          and HL = #{query.hl}
        </if>
      </if>
    </where>
  </sql>

  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from T_XT_BZLB
    <include refid="queryCondition"/>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_XT_BZLB
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_XT_BZLB
    where ID = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.andawell.upms.entity.TXtBzlb">
    insert into T_XT_BZLB (ID, MC, JM, HL
      )
    values (#{id,jdbcType=VARCHAR}, #{mc,jdbcType=VARCHAR}, #{jm,jdbcType=VARCHAR}, #{hl,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.andawell.upms.entity.TXtBzlb">
    insert into T_XT_BZLB
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="mc != null">
        MC,
      </if>
      <if test="jm != null">
        JM,
      </if>
      <if test="hl != null">
        HL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mc != null">
        #{mc,jdbcType=VARCHAR},
      </if>
      <if test="jm != null">
        #{jm,jdbcType=VARCHAR},
      </if>
      <if test="hl != null">
        #{hl,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.andawell.upms.entity.TXtBzlb">
    update T_XT_BZLB
    <set>
      <if test="mc != null">
        MC = #{mc,jdbcType=VARCHAR},
      </if>
      <if test="jm != null">
        JM = #{jm,jdbcType=VARCHAR},
      </if>
      <if test="hl != null">
        HL = #{hl,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.andawell.upms.entity.TXtBzlb">
    update T_XT_BZLB
    set MC = #{mc,jdbcType=VARCHAR},
      JM = #{jm,jdbcType=VARCHAR},
      HL = #{hl,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>