<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andawell.purchase.mapper.TCfMapper">
  <resultMap id="BaseResultMap" type="com.andawell.purchase.entity.TCf">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="LB" jdbcType="VARCHAR" property="lb" />
    <result column="MC" jdbcType="VARCHAR" property="mc" />
    <result column="JM" jdbcType="VARCHAR" property="jm" />
    <result column="ZYLB" jdbcType="VARCHAR" property="zylb" />
    <result column="BZ" jdbcType="VARCHAR" property="bz" />
    <result column="ZHMC" jdbcType="VARCHAR" property="zhmc" />
    <result column="ZH" jdbcType="VARCHAR" property="zh" />
    <result column="KHYH" jdbcType="VARCHAR" property="khyh" />
    <result column="GJ" jdbcType="VARCHAR" property="gj" />
    <result column="CS" jdbcType="VARCHAR" property="cs" />
    <result column="DZ" jdbcType="VARCHAR" property="dz" />
    <result column="YB" jdbcType="VARCHAR" property="yb" />
    <result column="LXR" jdbcType="VARCHAR" property="lxr" />
    <result column="DH" jdbcType="VARCHAR" property="dh" />
    <result column="CZ" jdbcType="VARCHAR" property="cz" />
    <result column="YJ" jdbcType="VARCHAR" property="yj" />
    <result column="ZS" jdbcType="VARCHAR" property="zs" />
    <result column="ZSRQ" jdbcType="TIMESTAMP" property="zsrq" />
    <result column="WXZS" jdbcType="VARCHAR" property="wxzs" />
    <result column="WXZSRQ" jdbcType="TIMESTAMP" property="wxzsrq" />
    <result column="BMZZ" jdbcType="VARCHAR" property="bmzz" />
    <result column="BMKSRQ" jdbcType="TIMESTAMP" property="bmksrq" />
    <result column="PID" jdbcType="VARCHAR" property="pid" />
    <result column="ZZHM" jdbcType="VARCHAR" property="zzhm" />
    <result column="BFRQ" jdbcType="TIMESTAMP" property="bfrq" />
    <result column="WXZSKSRQ" jdbcType="TIMESTAMP" property="wxzsksrq" />
    <result column="BMJSRQ" jdbcType="TIMESTAMP" property="bmjsrq" />
    <result column="JGDW" jdbcType="VARCHAR" property="jgdw" />
  </resultMap>

  <sql id="queryCondition">
    <where>
      1=1
      <if test="query!=null">
        <if test="query.id!=null and query.id.length()>0">
          and A.ID= #{query.id}
        </if>
        <if test="query.lb!=null and query.lb.length()>0">
          and LB= #{query.lb}
        </if>
        <if test="query.mc!=null and query.mc.length()>0">
          and MC= #{query.mc}
        </if>
        <if test="query.jm!=null and query.jm.length()>0">
          and JM= #{query.jm}
        </if>
        <if test="query.zylb!=null and query.zylb.length()>0">
          and ZYLB = #{query.zylb}
        </if>
        <if test="query.bz!=null and query.bz.length()>0">
          and BZ= #{query.bz}
        </if>
        <if test="query.zhmc!=null and query.zhmc.length()>0">
          and ZHMC = #{query.zhmc}
        </if>
        <if test="query.zh!=null and query.id.length()>0">
          and ZH= #{query.zh}
        </if>
        <if test="query.khyh!=null and query.khyh.length()>0">
          and KHYH = #{query.khyh}
        </if>
        <if test="query.gj!=null and query.gj.length()>0">
          and GJ= #{query.gj}
        </if>
        <if test="query.cs!=null and query.cs.length()>0">
          and CS = #{query.cs}
        </if>
        <if test="query.dz!=null and query.dz.length()>0">
          and DZ = #{query.dz}
        </if>
        <if test="query.yb!=null and query.yb.length()>0">
          and YB= #{query.yb}
        </if>
        <if test="query.lxr!=null and query.lxr.length()>0">
          and LXR= #{query.lxr}
        </if>
        <if test="query.dh!=null and query.dh.length()>0">
          and DH = #{query.dh}
        </if>
        <if test="query.cz!=null and query.cz.length()>0">
          and CZ= #{query.cz}
        </if>
        <if test="query.yj!=null and query.yj.length()>0">
          and YJ = #{query.yj}
        </if>
        <if test="query.zs!=null and query.zs.length()>0">
          and ZS= #{query.zs}
        </if>
        <if test="query.zsrq!=null">
          and ZSRQ = #{query.zsrq}
        </if>
        <if test="query.wxzs!=null and query.wxzs.length()>0">
          and WXZS= #{query.wxzs}
        </if>
        <if test="query.wxzsrq!=null">
          and WXZSRQ = #{query.wxzsrq}
        </if>
        <if test="query.bmzz!=null and query.bmzz.length()>0">
          and BMZZ= #{query.bmzz}
        </if>
        <if test="query.bmksrq!=null">
          and BMKSRQ = #{query.bmksrq}
        </if>
        <if test="query.pid!=null and query.pid.length()>0">
          and PID = #{query.pid}
        </if>
        <if test="query.zzhm!=null and query.zzhm.length()>0">
          and ZZHM= #{query.zzhm}
        </if>
        <if test="query.bfrq!=null">
          and BFRQ = #{query.bfrq}
        </if>
        <if test="query.wxzsksrq!=null">
          and WXZSKSRQ = #{query.wxzsksrq}
        </if>
        <if test="query.bmjsrq!=null">
          and BMJSRQ = #{query.bmjsrq}
        </if>
        <if test="query.jgdw!=null and query.jgdw.length()>0">
          and JGDW= #{query.jgdw}
        </if>
      </if>
    </where>
  </sql>

  <select id="list" resultType="com.andawell.purchase.vo.TCfVO">
    select A.ID,A.MC,A.JM,A.JGDW,
    T_XT_JGF.MC as jgdwmc
    from T_CF A
    LEFT JOIN T_XT_JGF ON T_XT_JGF.ID = A.JGDW
    <include refid="queryCondition"/>
    and LB like '10%'
  </select>

</mapper>